# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=XXXXXXXXXXXXXXXX

# Google Sheets Configuration
GOOGLE_SHEET_CREDENTIALS_FILE=./google_credentials.json
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/XXXXXXXXXXXXXXXXXXXXXXX

# Timezone Configuration
TIMEZONE=Europe/Madrid

# Scoring Configuration
PUNTOS_SPRINT=12,9,7
PUNTOS_CARRERA=25,20,16
