# Database configuration
# If MySQL is on the same machine, use 'localhost'
# If MySQL is on another machine, use its IP address
MYSQL_HOST=localhost
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=porramotogp
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TIMEZONE=Europe/Madrid
# Rename this file to .env and update with your settings
